



<div style="display: flex; flex-wrap: wrap; gap: 20px;">
  <div style="flex: 1; min-width: 300px;">

      <div style="position: relative; width:100%; max-width: 600px; cursor: pointer; display: inline-block; margin-top: 10px;">
            <a href="{{ include.playlist_link_left }}" target="_blank" style="display: block; position: relative;">
                <img src="https://img.youtube.com/vi/{{ include.preview_video_id_left }}/maxresdefault.jpg" alt="Video preview" style="display: block; width: 100%; height: auto;">
                <div class="overlay">
                    <svg viewBox="0 0 100 100" class="play-button">
                        <polygon points="30,20 80,50 30,80" fill="white" />
                    </svg>
                </div>
            </a>
        </div>
      
    <h2>{{ include.title_left }}</h2>
    <p>{{ include.desc_left }}</p>
  </div>
  <div style="flex: 1; min-width: 300px;">
       {% if include.preview_video_id_right %}
       <div style="position: relative; width:100%; max-width: 600px; cursor: pointer; display: inline-block; margin-top: 10px;">
            <a href="{{ include.playlist_link_right }}" target="_blank" style="display: block; position: relative;">
                <img src="https://img.youtube.com/vi/{{ include.preview_video_id_right }}/maxresdefault.jpg" alt="Video preview" style="display: block; width: 100%; height: auto;">
                <div class="overlay">
                    <svg viewBox="0 0 100 100" class="play-button">
                        <polygon points="30,20 80,50 30,80" fill="white" />
                    </svg>
                </div>
            </a>
        </div>
    
        <h2>{{ include.title_right }}</h2>
        <p>{{ include.desc_left }}</p>
        {% endif %}
  </div>
</div>





